@font-face {
  font-family: Burger;
  src: url("../../../public/BurgerNation.otf");
}

.menu-title {
  font-family: Burger;
}

.menu-comidas__page {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor-comidas {
  margin-top: 80px;
  max-width: 500px;
}

.li-platillo {
  list-style: none;
}
